/* General*/

.container-acc {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 100%;
}

.container-acc h2 {
    font-size: 2em;
}

.acc-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Acc header (title, host, address, tags, stars)*/

.acc-header {
    display: flex;
    justify-content: space-between;
}

/* Title (house title + host name) */

.acc-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acc-host {
    display: flex;
    align-items: center;
    gap: 20px;
}

.acc-host p {
    text-align: end;
    line-height: 150%;
    width: 100px;
    white-space: pre-line;
}

.acc-host img {
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

/* Middle (tags + stars) */

.acc-tags {
    display: flex;
    gap: 20px;
}

.acc-tags li {
    background-color: #FF6060;
    color: white;
    padding: 10px 40px;
    border-radius: 15px;
}

.acc-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    padding: 0 7px;
    height: 20px;
}


/* Acc collapse */

.acc-collapse-container {
    display: flex;
    gap: 30px;
}


@media screen and (max-width:1400px) {

    .acc-tags li {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .acc-title {
        font-size: 0.8em;
    }

    .star {
        height: 15px;
    }

    .acc-host img {
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width:999px) {

    .container-acc {
        gap: 20px;
    }

    .acc-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .acc-middle {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .acc-host {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .acc-host p {
        text-align: start;
    }

    .acc-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .acc-tags li {
        padding: 10px 20px;
        font-size: 0.8em;
        border-radius: 10px;
    }

    .acc-collapse-container {
        flex-direction: column;
        gap: 20px;
    }
    

}