
/* General*/

.container-acc {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 100%;
}

.container-acc h2 {
    font-size: 2em;
}

.acc-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Acc header (title, host, address, tags, stars)*/

.acc-header {
    display: flex;
    justify-content: space-between;
}

/* Title (house title + host name) */

.acc-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acc-host {
    display: flex;
    align-items: center;
    gap: 20px;
}

.acc-host p {
    text-align: end;
    line-height: 150%;
    width: 100px;
}

.acc-host img {
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

/* Middle (tags + stars) */

.acc-tags {
    display: flex;
    gap: 20px;
}

.acc-tags li {
    background-color: #FF6060;
    color: white;
    padding: 10px 40px;
    border-radius: 15px;
}

.acc-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
padding: 0 7px;
}

/* Acc collapse */

.acc-collapse-container {
    display: flex;
    gap: 30px;
}

