/* General */

.collapsible-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 50px 0;
}

.collapsible, .toggle {
    flex: 1
}

/* Collapse title */


.collapsible h3 {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;

    font-size: 1.5em;

    padding: 20px;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

/* Collapse content */

.collapsible p, .collapsible ul {
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
}

.collapsible p {
    line-height: 30px;
}

.collapsible ul {
    flex-basis: 100%;
}

.collapsible li {
    padding: 5px;
}

@media screen and (max-width:1400px) {

    .collapsible h3 {
        font-size: 1.2em
    }

    .collapsible p, .collapsible ul {
        font-size: 1em;
    }
    
  }

  @media screen and (max-width:999px) {

    .collapsible h3 {
        font-size: 1em
    }

    .collapsible-container {
        padding: 0;
        gap: 20px;
    }

  }