.kasa-header {
    background-color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kasa-logo {
    height: 50px;
}

.kasa-nav {
    display: flex;
    gap: 50px;
}

.kasa-li {
    cursor: pointer;
}

@media screen and (max-width:999px) {

    .kasa-header {
        padding: 30px;
    }
    
    .kasa-logo {
        height: 30px;
    }
    
    .kasa-nav {
        gap: 15px;
        font-size: 0.8em;
    }
    
}