.kasa-main-title {
    background-image: url("../assets/background.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    width: 100%;
    padding: 80px;
    border-radius: 25px;

    color: white;
    font-size: 2em;
}

.kasa-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    white-space: nowrap;

    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px;
    width: 100%;

}

.location-item { 
    background: black;
    padding: 120px 100px;
    margin: 0px;
    border-radius: 10px;

}