/* General */

/* .kasa-main-title {
    background-image: url("../assets/background.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    width: 100%;
    height: 200px;
    border-radius: 25px;

    color: white;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
} */

.kasa-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: wrap;

    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px;
    width: 100%;

    gap: 50px;
}

/* Housing item */

.location-item { 
    /* background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.5) 100%); */
    width: 300px;
    height: 300px;
    margin: 0px;

    display: flex;
    align-items: flex-end;

    cursor: pointer;
    position: relative;
}

.location-item img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 10px;
    filter: brightness(70%);

}

.location-item img:hover {
    filter: brightness(100%);
}

.location-item p {
    z-index: 1;

    color: black;
    font-size: 0.9em;

    padding: 10px 20px;
    width: 100%;
    height: 50px;

    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;

}