.kasa-main-title {
    background-image: url("../assets/background.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    width: 100%;
    padding: 80px;
    border-radius: 25px;

    color: white;
    font-size: 2em;
}

.kasa-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: wrap;

    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px;
    width: 100%;

    gap: 50px;
}

.location-item { 
    background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 25px;

    border-radius: 10px;

    color: white;
    display: flex;
    align-items: flex-end;

    cursor: pointer;
}