body {
background-color: #FFFFFF;
color: #FF6060;
font-family: 'Montserrat';

display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
font-size: 1.1em;
}

ul {
    list-style-type: none;
}

a, a:visited {
    color: #FF6060;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 300px 80px 300px;
    gap: 50px;
}

